:root {
    --border-radius : 8px;
    --main-color : #b2ff59;
    --text-color: #022a1d;
}

body {
    color: var(--text-color) !important;
    font-family: 'ABeeZee', sans-serif;
}

img {
    border-radius: var(--border-radius);
}

h2 {
    font-size: 30px;
    text-align: center;
}

.divider {
    height: 2px;
}

/* main color */
.divider, .page-footer, nav, .modal, .modal-footer, .sidenav {
    background-color: var(--main-color)!important;
}

/* Nav Bar */
.brand-logo {
    font-weight: bold;
}

nav img {
    width: 62px;
    margin-left: 10px;
}

nav a {
    color: #022a1d !important;
}

/* Section "à propos" */
#section-about {
    height: 500px;
    /* background-image: url(../images/mangerbio.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    animation: carousel-nav-images  10s ease-in-out infinite both;
}

@keyframes carousel-nav-images {
    0%{background-image: url(../images/mangerbio.jpg);}
    50%{background-image: url(../images/legumes.PNG);}
    100%{background-image: url(../images/mangerbio.jpg);}
}

#section-about h2 {
    margin-top: 15px;
}

#section-about-choose {
    font-weight: bold;
}

#section-about div{
    padding: 15px;
    background-color: rgba(255,255,255,0.7);
    border-radius: var(--border-radius);
    max-width: 500px;
}

/* Section Menu */
#section-menu {
    width: 100%;
}

.div-section-box {
    width: 250px;
}

.food {
    display: grid;
    justify-content: center;
}
.div-section-box img {
    width: 230px;
    height: 200px;
}
.modal {
    border-radius: var(--border-radius);
}

.more-info {
    border-radius: 8px;
    margin-top: 10px;
}

/* Section formulaire /contact */

#section-form .container {
    width: 100%;
}

#section-form-img {
    width: 350px;
}

#section-form p {
    text-align: center;
}

.input-field input:focus {
    border-bottom: 1px solid var(--main-color) !important;
    box-shadow: 0 1px 0 0 var(--main-color) !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid var(--main-color) !important;
    box-shadow: 0 1px 0 0 var(--main-color) !important;
}

.input-field .prefix.active {
    color: var(--main-color);
}

ul.dropdown-content.select-dropdown li span {
    color: var(--text-color);
}

#form-submit {
    padding: 10px;
    border-radius: var(--border-radius);
}

